The results should show:

<br />

<div class="answer">
  <div class="poster">
    <img src="<%= @results["Poster"] %>">
  </div>
  <div class="results shadowed">
    <ul class="results_list">
      <li class="results_list_items"><%= @results["Title"] %></li>
      <li><%= @results["Year"] %></li>
      <li><%= @results["Rated"] %></li>
      <li><%= @results["Released"] %></li>
      <li><%= @results["Runtime"] %></li>
      <li><%= @results["Genre"] %></li>
      <li><%= @results["Director"] %></li>
      <li><%= @results["Writer"] %></li>
      <li><%= @results["Actors"] %></li>
      <li><%= @results["Plot"] %></li>
      <li><%= @results["imdbRating"] %></li>
      <li><%= @results["imdbVotes"] %></li>
      <li><%= @results["imdbID"] %></li>
      <li><%= @results["Response"] %></li>
    </ul>
  </div>
</div>