<form method="post" action="<%= @row.nil? ? '/create' : "/dogs/#{@row['id']}" %>">
  <input value="<%= @row["name"] if @row %>" type="text" name="name" autofocus>
  <input value="<%= @row["image"] if @row %>" type="text" name="photo">
  <input value="<%= @row["breed"] if @row %>" type="text" name="breed">
  <button><%= @row.nil? ? "New Dog!" : "Edit Dog!" %></button>
</form>